main {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*-----------------PRIMEIRA SEÇÃO: APRESENTAÇÃO-----------------*/
main section #banner {
  display: flex;
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
  justify-content: space-between;
}

main #banner .banner-content {
  width: 45.5rem;
  height: auto;
}

main #banner .banner-content .banner-content-title {
  font-size: 5.63rem;
  font-weight: 700px;
  line-height: 6.75rem;
  margin-bottom: 40px;
  width: 45.94rem;
  max-width: 75rem;
}

.banner-content .banner-content-text {
  width: 26rem;
  height: 6.75rem auto;
  margin-left: 7.38rem;
  margin-bottom: 30px;
}

main #banner .banner-content .banner-content-subtitle {
  font-family: Playfair Display;
  font-size: 5.63rem;
  font-weight: 700;
  line-height: 24px;
  max-width: 400px;
}

.banner-content-btn {
  margin: 10px 0 140px 118px;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  background-color: #7f0af7;
  color: whitesmoke;
  border-radius: 2px;
  border: none;
  transition: background-color 0.6s ease, color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #edc602;
  }
}

main #banner .banner-content .banner-content-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  max-width: 400px;
  margin: 10px 0 0 118px;
}

img #banner {
  width: 100%;
  height: 743px;
  background-image: url("/public/home-image.png");
  flex-shrink: 0;
  opacity: 0.85;
  background-size: contain;
  background: lightgray 50%;
  margin-top: -20px;
}

/*
@media screen(max-width: 920px) 

  main #banner {
    flex-direction: column-reverse;
    allign-items: center;
    gap: 2rem;
  }

  main #banner banner-content {
    text-align: center;
  }
}*/

/*-----------------SEGUNDA SEÇÃO: DEMONSTRAÇÃO-----------------*/

section#section-cards {
  display: flex;
  width: 1650px;
  height: 730px;
  margin: 100px 122px;
  justify-content: space-between;
  background-color: #222a36f2;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 360px;
}

section #section-cards .cards-content-header {
  width: 133px;
  height: 133px;
}

.cards-content-header .section-title1 {
  color: #676cdb;
  font: Playfair Display;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
}

.cards-content-header .section-title2 {
  width: 207px;
  height: 216px;
  color: white;
  font: Playfair Display;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
}

.posts-cards {
  background-color: transparent;
  margin-left: 100px;
  max-width: 1200px;
  height: auto;
}

.posts-cards-title {
  width: 900px;

  height: 144px;
  color: #fff;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 180%;
}

.card-img-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 100px;
  margin-top: 20px;
}

img {
  width: 288px;
  height: 295px;
  flex-shrink: 0;
}

/*-----------------TERCEIRA SEÇÃO: CONTATO-----------------*/
section#contact-section {
  background-color: black !important;
  width: 1650px;
  height: 730px;
}
.contact-container {
  max-width: 1391px;
  display: flex;
  height: 634.123px;
  gap: 132px;
  flex-shrink: 0;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 600px;
}
.contact-container {
  display: flex;
  flex-direction: row;
  gap: 18.56rem;
  width: 73rem;
  height: 18.5rem;
  background-color: black !important;
  padding: 122px 125px;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  gap: 9.2rem;
  background-color: black;
}

.social-media-title {
  color: #fff;
  background-color: black;
  font-family: Poppins;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 120px */
  background-color: transparent;
  width: 34rem;
  height: 12rem;
}

.social-media-nav {
  background-color: black;
  display: flex;
  gap: 3rem;
}

svg {
  background-color: black;
  justify-content: center;
}

.form-container {
  background-color: black;
}
