#my-form {
  width: 329px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 55px;
  background-color: black !important;
  margin-top: 30px;
}

.custom-label {
  width: auto;
  height: 36px;
  font-family: Poppins !important;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  background-color: black;
}

.mb-3 {
  width: auto;
  height: auto;
  display: inline;
  display: row;
  flex-direction: column;
  margin-top: 0;
  background-color: black;
}

.custom-input {
  background-color: black;
  border: none;
  width: auto;
  height: 36px;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  background-color: black;

  &:focus {
    outline-color: #edc602;
  }
}

.custom-textarea {
  background-color: black;
  width: 300px;
  height: 150px;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  &:focus {
    outline-color: #edc602;
  }
}

.button-container {
  width: 2rem;
  height: 2rem;
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.h3-button {
  color: var(--pp1-purple, #676cdb);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  background-color: black;
  justify-items: center;
}

.custom-button {
  background-color: black;
  border: 1px solid black;

  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  button:hover {
    background-color: #edc602;
  }
}
