@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&family=Roboto:wght@700&family=Ubuntu:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0em;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400px;
}

/* Menu / Header // 1 rem = 16px; */
header {
  background-color: transparent;
  height: 3.6rem;
  width: 74.75rem;
  margin-left: 85px;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0.63rem 7.63rem;
  height: 3.6rem;
  max-width: 74.5rem;
  gap: 21.56rem;
  background-color: transparent;
  box-sizing: 10px 122px 688px 122px;
}

header #navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.63rem;
  background-color: transparent;
}

header #navbar .nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: transparent;
}

header #navbar .nav-list .nav-item a {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  gap: 40px;
  width: auto;
  height: auto;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #edc602;
    transition: background-color 0.6s ease, color 0.3s ease;
    text-decoration: underline;
  }
}

header #navbar .hamburguer-menu {
  display: none;
}

/*
@media (max-width: 740px) {
  header #navbar .hamburguer-menu {
    display: block;
  }

  header #navbar .navlist {
    display: none;
  }
*/
