#sobre-container {
  max-width: 77rem;
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
}

.sobre-content {
  width: 1200px;
  height: 450px;
  font-size: 44px;
  font-weight: 700px;
  line-height: 60px;
}

.sobre-content-title {
  width: 47px;
  height: 77px;
  flex-shrink: 0;
  color: #c4c4c4;
  font-family: Playfair Display;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.sobre-content-paragraph {
  width: 490px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
}

.sobre-image {
  border-radius: 50%;
  border: none;
  width: 500px;
  height: auto;
}

@media (max-width: 920px) {
  main #banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  main #banner banner-content {
    text-align: center;
  }
}
